// button.scss
@mixin button($bg_color) {
  padding: 12px 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: $bg_color;

  &:hover {
    opacity: 0.8;
  }
}
