@use "@styles/variables.scss" as *;
@use "@styles/mixins/button_mixins.scss" as *;
@use "@styles/mixins/form_mixins.scss" as *;
@use "sass:color";

.reset_password_form {
  @include generic_form(400px);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    @include button($btn-primary-color);
  }
}
