@use "@styles/mixins/overview_mixins.scss" as *;
@use "@styles/variables.scss" as *;

.overview_container {
  @include overview_container;
}

.overview_header {
  @include overview_header($locations-border);
}

.sub_header {
  text-align: center;
  font-size: 0.8rem;
}
.paragraphs_container {
  @include paragraphs_container($locations-border);
}

.paragraph_element {
  @include paragraph_element;
}

.paragraph_header {
  @include paragraph_header;
}

.paragraph_sub_header {
  @include paragraph_sub_header;
}

.location_item {
  page-break-after: always;
}

.formatted_text {
  @include formatted_text;
}
