@use "../mixins/form_mixins.scss" as *;
@use "../variables.scss" as *;

// Пример использования миксинов в контейнере формы
@mixin generic_form($max_width) {
  @include form-container($max_width);

  h2 {
    @include form-title;
  }

  .form_group {
    @include form-group;
    position: relative;

    &.error {
      @include form-error;
    }
  }

  .form_footer {
    @include form_footer;
  }

  .hint {
    color: rgb(153, 153, 153);
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
  }
}

.submit_form {
  @include generic_form(400px);
  margin: 2rem auto;
  ul {
    @include form_list($list-gap: 20px, $padding: 0px, $bg: rgb(216, 216, 216));
  }
}

.general_info_form {
  @include generic_form(700px);
  margin: 2rem auto;
}

.mechanic_form {
  @include generic_form(900px);
  margin: 2rem auto;
}

.gameplay_form {
  @include generic_form(900px);
}
