/* Общие контейнеры */
.overview_container {
  margin: 0 auto;
  max-width: 1200px;
  line-height: 1.6;
  color: #333;
  width: 100%;
  margin-bottom: 50px;
}

/* Заголовок секции */
.overview_header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #d4d4d4;
  border-top: 2px solid #d4d4d4;
  background-color: #f3f3f3;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.overview_titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

/* Стиль параграфов */
.overview_paragraph {
  margin: 10px 0;
}

.long_text {
  width: 98%;
  white-space: pre-wrap; /* Сохраняет переносы строк */
  text-align: justify; /* Выравнивает текст по ширине */
  line-height: 1.8; /* Увеличивает межстрочное расстояние */
  font-size: 16px; /* Оптимальный размер для чтения */
  color: #444; /* Нейтральный цвет текста */
  padding: 10px; /* Отступы внутри блока */
  border-left: 4px solid #5b9bd5; /* Линия слева для акцента */
  background-color: rgb(248, 248, 248);
  margin-bottom: 20px; /* Отступ снизу */
  border-radius: 5px; /* Скругление углов */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Лёгкая тень для объёма */
  // overflow: visible; /* Показывает весь контент */
}

.ql-editor {
  min-height: 20px !important;
  background-color: red;
}

/* Стили для маркированных списков */
.list_section {
  ul {
    padding-left: 20px;
    list-style-type: disc;
    margin: 10px 0;
    line-height: 1.8;
  }

  li {
    margin-bottom: 8px;
    font-size: 16px;
    color: #444;
  }
}

/* Пример механики */
.mechanics_example {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  border-left: 4px solid #5b9bd5; /* Линия слева для акцента */
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.location_title {
  display: grid;
  justify-items: center;
  margin-bottom: 20px;
}
