@use "../variables.scss" as *;

.sidebar {
  height: 100vh; // Full height of the viewport
  background-color: $sidebar-bg-color;
  color: $sidebar-text-color;
  padding: 20px;
  position: fixed;
  width: 230px;
  border-right: 1px solid $sidebar-border-color;
  display: flex;
  flex-direction: column; // Ensures content stacks vertically

  h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $btn-primary-color; // Matches button primary for headings
  }

  ul {
    list-style: none;
    padding: 0;
    flex-grow: 1; // Pushes content to fill available space

    li {
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 1.3rem;
      padding-left: 0;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      position: relative;
    }

    span {
      width: 150px;
      &:hover {
        background-color: $sidebar-hover-bg;
        padding: 10px;
        border-radius: 5px;
        color: $sidebar-text-color;
      }

      &.active {
        background-color: $sidebar-active-color;
        color: $sidebar-bg-color;
        font-weight: bold;
      }

      transition: padding 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
  }

  // Optional: Add a footer for branding or extra info
  .sidebar-footer {
    margin-top: auto;
    font-size: 0.875rem;
    color: $sidebar-text-color;
    opacity: 0.75;
    text-align: center;
  }
}
