@use "../variables.scss" as *;

// Миксин для фона ячеек таблицы
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow-x: auto;
  color: $btn-dark-color;
}

// Заголовки таблицы
.table th {
  background-color: $btn-neutral-color;
  color: rgb(41, 41, 41);
  padding: 10px;

  border-bottom: 2px solid $btn-neutral-color;
  font-size: 1rem;
  width: 200px;
}

// Ячейки таблицы
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid $btn-neutral-color;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;

  button {
    font-size: 0.8rem;
  }

  //   @include table-cell-background(1); // Пример для нечётных строк
}

// Строки таблицы на ховер
.table tr:hover {
  background-color: rgb(221, 221, 221);
}
