// button.scss
$btn-primary-color: #725ac1; // Пример современного фиолетового цвета
$btn-secondary-color: #ff5c8d; // Яркий розовый для акцента
$btn-neutral-color: #cac4ce; // Светлый нейтральный цвет фона
$btn-dark-color: #242038; // Тёмный текст

//form
$form-background: #f8f9fa;
$input-border: #ddd;
$input-focus: #007bff;
$button-color: #007bff;
$button-hover: #016de0;
$error-color: #e74c3c;
